/* h1{
    color: rgb(14, 13, 13);
    position: relative;
    top: 200px;
    left: 300px;
    text-decoration: underline;
} */
body{
    background-image: url(op.jpg);

background-size: 1400px; 
background-attachment: fixed;
}
img{
    position: relative;
    left: 1300px;
top: 200px;
  width: 3%;
}
.pagination {
    display: inline-block;
    position: relative;
    top: 415px;
    left: 630px;
  }  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }

